body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f2dfae;
    display: flex;          
    flex-direction: column; 
    min-height: 10vh; 
    text-align: center;
    text-decoration: none;
}

header {
    background-color: #e7ba49;
    color: #000;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: row; 
    gap: 10px; 
    width: 80%;
    margin: auto;
    height: 10vh; 
    background-color: #f2dfae; 
    text-decoration: none;
}

.item {
    background-color: #f0f0f0; 
    padding: 20px; 
    border: 1px solid #ccc; 
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

section {
    padding: 10px 0;
    margin: auto;
    flex: 1; 
    text-decoration: none; 
}

footer {
    background-color: #e7ba49;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}
